body{
    background-color: #1c1c1f;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
button{
    color: white;
    background-color: #0072b1;
    border-radius: 25px;
    padding: 20px;
}
button:hover{
    background-color: #005a8c;
}